body{
    background-color: rgb(62, 56, 56);
    margin: 0;
    display: flex;
    justify-content: center;
}

.container{
    background-color: beige;
    width: 80%;
    height: 95%;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

img{
    width: 300px;
    border-radius: 200px;
    border: solid 2px black;
}

.about{
    
    width: 60%;
    text-align: center;

}

#name{
    font-size: 40px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#intro{
    font-size: larger;
    font-weight: bolder;
}

#desc{
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
}

hr{
    border: dashed 2px black;
    width: 90%;
    margin-top: 50px;
}

#skill-name{
    text-align: center;
    font-size: 30px;
}

.skills{
    display: flex;
    justify-content: space-around;
}

.skill{
    font-size: 18px;
    border: solid 1px black;
    width: 25%;
    background-color: PINK;
    border-radius: 20px;
    margin-top: 15px;
}

li{
    padding-bottom: 10px;
}